@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


body
{
    margin: 0px;
    padding: 0px;
    background-color: black;
    user-select: none;
    

    
}


#header{
    width: 1920px;
    height: 120px;
    display: flex;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
}


#header .nav{
    width: 1420px;
    height: 50px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: row-reverse;
}


#header ul li{
    display: inline-block;
    margin-left: 42px;
}

a{
    text-decoration-line: none;
    color: inherit;
}


.menu:hover{
    font-weight: 400;
}


.row
{
width: 1920px;
height: 100%;
display: flex;
background-color: black;
justify-content: center;
}


#mainText{
    width: 940px;
    height: 540px;
    display: block;
    margin-top: 160px;
}

#job{
    width: 940px;
    height: 145px;
    margin-top: 145px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: white;
}

#comment{
    width: 700px;
    height: 80px;
    margin-top: 26px;
    margin-bottom: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: white;
}



#see{
    width: 245px;
    height: 45px;
    margin-top: 70px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: white;
    display: inline;

}

#arrow{
    width: 40px;
    height: 45px;
    display: inline-block;
}









#mainImage{
    width: 480px;
    height: 540px;
    margin-top: 160px;
}

#footer{
    width: 1920px;
    height: 260px;
    background-color: black;


}