@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


body{
    margin: 0px;
    background-color: black;
    user-select: none;
}


#header{
    width: 1920px;
    height: 120px;
    display: flex;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
}


#header .nav{
    width: 1420px;
    height: 50px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: row-reverse;
}


#header ul li{
    display: inline-block;
    margin-left: 42px;
}

a{
    text-decoration-line: none;
    color: inherit;
}


.menu:hover{
    font-weight: 400;
}


#box{
    display: flex;
    justify-content: center;
}


#mainImage{
    width: 1420px;
    height: 830px;
    margin-top: 160px;
    margin-bottom: 400px;
}


.detailImage{
    display: block;
    margin: auto;
    width: 953px;
    height: 715px;
    background-color: blue;
    margin-bottom: 70px;
}



#footer{
    width: 1920px;
    height: 260px;
    background-color: black;
}    